<div class="list-main">
    <!--
    <div class="user-block">
        <div class="user-section">
            <img src="/assets/img/logo.png" class="logo" alt="logo">
            <div *ngIf="user" class="user-name-block">
                <div class="user-name">{{user.firstName + " " + user.secondName}}</div>
                <div class="user-nickname">{{"@"+user.login}}</div>
            </div>
        </div>
        <i (click)="exit()" class='fas fa-door-open label-icon'></i>
    </div>-->

    <div class="action-block">
        <i (click)="openActionWindow()" class='fas fa-user-plus label-icon'></i>
    </div>

    <div *ngIf="dialoguiesList.length > 0" class="conversations-block">
        <div class="scroll-block">
            <div class="dialoguies-list">
                <div *ngFor="let dialogue of dialoguiesList; let i=index" (click)="dialogueSelect(i, dialogue.dialogueID, dialogue.lastMessage)" [ngClass]="{'dialogue-label': true, 'dialogue-label-selected': dialogue.selected}">
                    <div class="dialogue-name-block">
                        <div class="dialogue-icon">{{dialogue.firstName[0] + dialogue.secondName[0]}}</div>
                        <div class="dialogue-name-status">
                            <div class="dialogue-name">{{dialogue.firstName + " " + dialogue.secondName}}</div>
                            <div [ngClass]="{'dialogue-online': isUserOnline(dialogue.nickname), 'dialogue-offline': !isUserOnline(dialogue.nickname)}">
                                {{isUserOnline(dialogue.nickname)?'online':'offline'}}
                            </div>
                        </div>
                        <i *ngIf="isNewMessage(dialogue.lastMessage)" class='far fa-paper-plane new-message-icon'></i>
                        <div *ngIf="isNewMessage(dialogue.lastMessage)" class="new-message-text">New!</div>
                    </div>
                    <i *ngIf="dialogue.dialogueID != selectedDialogueID" (click)="delete(dialogue.dialogueID); $event.stopPropagation()" class='far fa-trash-alt label-icon'></i>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="dialoguiesList.length === 0" class="none-dialogues">
        <div class="info">Будь ласка, додайте користувача, щоб почати спілкування</div>
    </div>

</div>
