<div class="view-space">
    <div class="content">
        <div class="head">
            <div class="logo-block">
                <img src="/assets/img/logo.png" alt="Logo" class="logo-head">
                <div class="name-head">Colloq</div>
            </div>
            <div class="buttons-block">
                <div (click)="openActionWindow('login')" class="login-button">Вхід</div>
                <div (click)="openActionWindow('registration')" class="registration-button">Реєстрація</div>
            </div>
        </div>
        <div class="info-block info-block-first">
            <img src="/assets/img/chat.png" alt="Logo" class="landing-image first-image">
            <div class="landing-info">
                Colloq - це сучасний та безпечний меседжер у вашому браузері.
                <br><br> Кожен діалог, кожне повідомлення - надійно захищені сучасними технологіями шифрування даних.
            </div>
        </div>
        <div class="info-block info-block-second">
            <div class="landing-info">
                Не порібно нічого встановлювати, де би не були - ваши діалоги завжди з вами.
                <br><br> Одна платформа - всі пристрої.
                <br><br> З Colloq ви завжди на зв'язку!
            </div>
            <img src="/assets/img/laptop.png" alt="Logo" class="landing-image second-image">
        </div>
    </div>
</div>

<div [ngClass]="{'action-background': !closeAnimation, 'close-background': closeAnimation}" *ngIf="windowAction">
    <action-window></action-window>
</div>