@import "../app.component.scss";
.view-space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    .content {
        @include custom-scrollbar;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $main-color;
        padding: 40px;
        height: calc(100% - 80px);
        width: calc(100% - 80px);
        max-width: 1120px;
        box-shadow: 5px 0px 15px #131313, -5px 0px 15px #191919;
        .head {
            @include line-center;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            .logo-block {
                @include line-center;
            }
            .buttons-block {
                @include line-center;
                width: 340px;
                justify-content: space-between;
            }
        }
        .info-block {
            display: flex;
            justify-content: space-around;
            width: 100%;
            flex-wrap: wrap;
        }
        .info-block-first {
            flex-direction: row;
        }
        .info-block-second {
            flex-direction: row;
        }
    }
}

.logo-head {
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.name-head {
    font-size: 40px;
    color: $text-main-color;
    font-family: $font-family;
}

.login-button {
    @include main-button;
    width: 140px;
}

.registration-button {
    @include main-button;
    background-color: $action-color;
    width: 140px;
}

.landing-image {
    display: block;
    width: 400px;
    height: 300px;
}

.first-image {
    margin-right: 40px;
}

.second-image {
    margin-left: 40px;
}

.landing-info {
    width: 400px;
    font-size: 25px;
    color: $text-main-color;
    font-family: $font-family;
}

@media only screen and (max-width: 925px) {
    .view-space {
        .content {
            justify-content: flex-start;
            .head {
                flex-direction: column;
                justify-content: center;
                .buttons-block {
                    flex-direction: column;
                    margin: 20px 0px;
                    width: 100%;
                }
            }
            .info-block {
                align-items: center;
            }
            .info-block-first {
                flex-direction: column;
            }
            .info-block-second {
                flex-direction: column-reverse;
            }
        }
    }
    .name-head {
        font-size: 30px;
    }
    .registration-button {
        margin-top: 20px;
    }
    .landing-image {
        width: 300px;
        height: 225px;
        margin: 20px 0px;
    }
    .landing-info {
        width: 300px;
    }
}