@import "../app.component.scss";
.view-space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    .work-space {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
        max-width: 1200px;
        .menu-label {
            width: 240px;
            height: 60px;
            position: absolute;
            z-index: 20;
        }
    }
}
