<div class="dialogue-main">

    <div *ngIf="dialogue" class="user-block">
        <div class="user-section">
            <i (click)="dialogueClose()" class='fa fa-arrow-left label-icon'></i>
            <div class="user-name-block">
                <div class="user-name-status">
                    <div class="user-name">{{dialogue.firstName + " " + dialogue.secondName}}</div>
                    <div [ngClass]="{'dialogue-online': isUserOnline(dialogue.nickname), 'dialogue-offline': !isUserOnline(dialogue.nickname)}">
                        {{isUserOnline(dialogue.nickname)?'online':'offline'}}
                    </div>
                </div>
                <div class="user-nickname">{{"@"+dialogue.nickname}}</div>
            </div>

        </div>

    </div>

    <div *ngIf="dialogue" class="messages-block">
        <div *ngIf="!loadMessages" class="messages">
            <div *ngFor="let message of messages; let i = index;" [ngClass]="{'outcome-message': message.sender === sender, 'income-message': message.sender !== sender}">
                <div class="message-text">{{message.text}}</div>
                <div class="message-status">
                    <i *ngIf="i === 0 && message.sender === sender" [ngClass]="{'fas': true, 'fa-eye': dialogue.lastMessage.isRead, 'fa-eye-slash': !dialogue.lastMessage.isRead, 'read-status-icon': true}" class='fas fa-eye-slash'></i>
                    <div class="message-date">{{message.date | date:"dd.MM.yyyy - HH:mm"}}</div>
                </div>

            </div>
        </div>
        <div *ngIf="loadMessages" class="loader">
            <loader></loader>
        </div>
        <div class="message-input-block">
            <input [(ngModel)]="message" class="input-field" type="text" placeholder="Введіть ваше повідомлення">
            <i (click)="sendMessage()" *ngIf="!onSend" class='fas fa-paper-plane send-icon'></i>
            <div *ngIf="onSend" class="message-sender">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div *ngIf="!dialogue" class="none-dialogue">
        <div class="info">
            Будь ласка, оберіть діалог, щоб почати спілкування
        </div>
    </div>

</div>
