@import "../../app.component.scss";
.list-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    .user-block {
        @include line-center;
        width: calc(100% - 40px);
        height: 50px;
        justify-content: space-between;
        padding: 20px 20px;
        border-bottom: 1px solid $selection-color;
        .user-section {
            @include line-center;
            .logo {
                display: block;
                width: 50px;
                height: 50px;
                margin-right: 20px;
            }
            .user-name-block {
                display: flex;
                flex-direction: column;
                .user-name {
                    font-family: $font-family;
                    color: $text-main-color;
                    font-size: $main-text-size;
                    margin-bottom: 10px;
                }
                .user-nickname {
                    font-family: $font-family;
                    color: $text-secondary-color;
                    font-size: $addiction-text-size;
                    opacity: 0.6;
                }
            }
        }
        .label-icon {
            display: block;
            font-size: 25px;
            color: $action-color;
            cursor: pointer;
        }
    }
    .none-dialogues {
        @include line-center;
        justify-content: center;
        width: 100%;
        height: calc(100% - 142px);
        .info {
            width: 300px;
            font-family: $font-family;
            color: $text-secondary-color;
            font-size: $title-text-size;
            margin-bottom: 80px;
        }
    }
    .conversations-block {
        width: 100%;
        height: calc(100% - 142px);
        .scroll-block {
            display: flex;
            flex-direction: column;
            align-content: center;
            width: 100%;
            height: 100%;
            @include custom-scrollbar;
            .dialoguies-list {
                display: flex;
                flex-direction: column;
                align-content: center;
                width: 100%;
                .dialogue-label {
                    @include line-center;
                    justify-content: space-between;
                    width: calc(100% - 40px);
                    padding: 10px 20px;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                        background-color: $selection-color;
                        .label-icon {
                            display: block;
                        }
                    }
                    .dialogue-name-block {
                        @include line-center;
                        .dialogue-icon {
                            @include line-center;
                            justify-content: center;
                            font-family: $font-family;
                            color: $text-main-color;
                            font-size: 20px;
                            width: 50px;
                            height: 50px;
                            border-radius: 6px;
                            background-color: $background-color;
                            margin-right: 20px;
                            transition: 0.3s;
                        }
                        .dialogue-name {
                            font-family: $font-family;
                            color: $text-main-color;
                            font-size: $main-text-size;
                            transition: 0.3s;
                        }
                        .new-message-icon {
                            display: block;
                            font-size: 18px;
                            color: $action-color;
                            margin-left: 10px;
                        }
                        .new-message-text {
                            font-size: 12px;
                            color: $action-color;
                            margin-left: 5px;
                            font-family: $font-family;
                        }
                    }
                    .label-icon {
                        display: none;
                        font-size: 20px;
                        color: $action-color;
                        cursor: pointer;
                        transition: 0.3s;
                        opacity: 0;
                        animation: show 0.3s 1;
                        animation-fill-mode: forwards;
                    }
                }
                .dialogue-label-selected {
                    .dialogue-name-block {
                        .dialogue-icon {
                            background-color: $action-color !important;
                        }
                        .dialogue-name {
                            color: $action-color !important;
                        }
                    }
                }
            }
        }
    }
    .action-block {
        @include line-center;
        width: calc(100% - 40px);
        height: 60px;
        padding: 0px 20px;
        border-top: 1px solid $selection-color;
        .label-icon {
            display: block;
            font-size: 25px;
            color: $action-color;
            cursor: pointer;
        }
    }
}
